
/*index (listo)*/

.hero h2{
    color:goldenrod;
}

/*reset*/




/* header*/
header h1 span{
    color: yellow;
}


header nav ul{
    list-style: none;
    display: flex;

}

header nav ul li{
margin: 15px 5px 15px 5px;
}

header nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

header nav ul li a:hover{
    color: blue;
}

header {
    background-color: black;
    position: sticky;
    top: 0;
    display:flex;
    justify-content: space-between;
    z-index: 10;
}

header h1{
    font-style: initial;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    display: flex;
}




/*main*/
.hero{
    background-image: url("../img/StarWarsLegionDiorama.png.jpg");
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero h2{
    font-size: 70px;
    border: 2px solid orange;
    padding: 20px;
}
.hero p{
    font-size: 40px;
}

.productosDestacados h2{
    text-align: center;
    background-color: black;
    font-size: 20px;
    color: white;
    padding: 10px;
}

.productosDestacados .productoContenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.productosDestacados div div{
    width: 300px;
    height: 370px;
    border: 1px black solid;
    text-align: center;
    margin: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-caja-sombra: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-caja-sombra: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.productosDestacados div div img{
    width: 100%;
    height: 270px;
}

.productosDestacados div div h3{
    font-size: 20px;
}

.productosDestacados div div a{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.productosDestacados div div a:hover{
    color: grey;
}

.gridGaleria{
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 250px;
    gap: 15px;

}

.gridGaleria div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-caja-sombra: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-caja-sombra: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.gridItem{
    position: relative;

}

.gridItem h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.756);
    color: white;
    text-align: center;
}

/*footer*/
footer div img{
    margin: 20px;
}


/*media query index(lista)*/
@media screen and (max-width:950px){
    .gridGaleria{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 220px;
    }

    .gridItem{
        grid-column: span 1 ;
        grid-row: span 1 ;
    }
}

@media screen and (max-width:700px){
    header{
        flex-direction: column;
        position: static;

    }

}

@media screen and (max-width:450px){
    .gridGaleria{
        grid-template-columns: span 1 ;
    }
    .gridItem{
        grid-column: span 1 ;
        grid-row: span 1 ;
    }

    header nav ul{
        flex-direction: column;
        text-align: center;
    }

    header nav ul li{
        margin: 5px;
    }

    .hero h2{
        text-align: center;
    }
}




/*productos*/


/*main*/


.bodyProductos{
    background-image: url("../img/kProductos.png");
    width: 100%;
    height: 500px;
    background-position: center;
    color: white;
    background-repeat: no-repeat;
    background-size: 2300px;
}

.productos .prodContenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.productos div div{
    width: 300px;
    height: 370px;
    border: 1px black solid;
    text-align: center;
    margin: 20px;
    background-color: white;
}

.productos div div img{
    width: 100%;
    height: 250px;
}

.productos div div a{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.productos div div a:hover{
    color: grey;
}

.productos div div h3{
    color: black;
}


/*media query productos*/

@media screen and (max-width:700px){
    .bodyProductos{
        background-image: url("../img/kProductos.png");
        width: 100%;
        height: 1300px;
        background-position: center;
        color: white;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:450px){
    header nav ul{
        flex-direction: column;
        text-align: center;
    }

    header nav ul li{
        margin: 5px;
    }

    .bodyProductos{
        background-image: url("../img/kProductos2.jpg");
        width: 100%;
        height: 2650px;
        background-position: center;
        color: white;
        background-size: cover;
    }
}




/*ofertas*/

/*mainOfertas*/
.ofertas .ofertContenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ofertas div div{
    width: 300px;
    height: 370px;
    border: 1px black solid;
    text-align: center;
    margin: 20px;
    background-color: white;
}

.ofertas div div img{
    width: 100%;
    height: 200px;
}

.ofertas div div a{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.ofertas div div a:hover{
    color: grey;
}

.bodyOfertas{
    background-image: url("../img/mOfertas.webp");
    width: 100%;
    height: 500px;
    background-position: center;
    color: white;
    background-repeat: no-repeat;
    background-size: 2300px;
}

.ofertas div div h3{
    color: black;
}

/*media query oferta*/

@media screen and (max-width:700px){
    .bodyOfertas{
        background-image: url("../img/mOfertas.webp");
        width: 100%;
        height: 1300px;
        background-position: center;
        color: white;
        background-repeat: no-repeat;
    }

}

@media screen and (max-width:450px){

    .bodyOfertas{
        background-image: url("../img/mOfertas2.webp");
        width: 100%;
        height: 2700px;
        background-position: center;
        color: white;
        background-size: cover;
    }
}




/* AcercaDeNosotros */

/*main*/

.mainAcercaDeNosotros section{
    text-align: center;
}

.bodyAcercaDe{
    background-image: url("../img/fAcercaDeNosotros.jpeg");
    width: 100%;
    height: 500px;
    background-position: center;
    color: white;
    background-repeat: no-repeat;
    background-size: 2600px;
}

/*media queries AcercaDeNosotros */

@media screen and (max-width:700px){
    .bodyAcercaDe{
        background-image: url("../img/fAcercaDeNosotros.jpeg");
        width: 100%;
        height: 500px;
        background-position: center;
        color: white;
        background-repeat: no-repeat;
        background-size: 2500px;
    }
}

