.bodyProductos{
    background-image: url("../img/kProductos.png");
    width: 100%;
    height: 500px;
    background-position: center;
    color: white;
    background-repeat: no-repeat;
    background-size: 2300px;
}

.bodyOfertas{
    background-image: url("../img/mOfertas.webp");
    width: 100%;
    height: 500px;
    background-position: center;
    color: white;
    background-repeat: no-repeat;
    background-size: 2300px;
}

.bodyAcercaDe{
    background-image: url("../img/fAcercaDeNosotros.jpeg");
    width: 100%;
    height: 500px;
    background-position: center;
    color: white;
    background-repeat: no-repeat;
    background-size: 2600px;
}