
/*media query index*/

@media screen and (max-width:950px){

    .griGaleria{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 220px;
        .gridItem{
            grid-column: span 1 ;
            grid-row: span 1 ;
        }
    }
}

@media screen and (max-width:700px){
    header{
        flex-direction: column;
        position: static;

    }

}

@media screen and (max-width:450px){
header{
    nav{
        ul{
            flex-direction: column;
            text-align: center;
            li{
                margin: 5px;
            }
        }
    }
}
main{
    .hero{
        h2{
            text-align: center;
        }
    }    
    .gridGaleria{
        grid-template-columns: span 1 ;
        .gridItem{
            grid-column: span 1 ;
            grid-row: span 1 ;
        }
    }
}
}

/*media query productos*/

@media screen and (max-width:700px){
    .bodyProductos{
        background-image: url("../img/kProductos.png");
        width: 100%;
        height: 1300px;
        background-position: center;
        color: white;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:450px){
    .bodyProductos{
        background-image: url("../img/kProductos2.jpg");
        width: 100%;
        height: 2650px;
        background-position: center;
        color: white;
        background-size: cover;
        header{
            nav{
                ul{
                    flex-direction: column;
                    text-align: center;
                    li{
                        margin: 5px;
                    }
                }
            }
        }
    }
}


/*media query oferta*/
@media screen and (max-width:700px){
    .bodyOfertas{
        background-image: url("../img/mOfertas.webp");
        width: 100%;
        height: 1300px;
        background-position: center;
        color: white;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:450px){
    .bodyOfertas{
        background-image: url("../img/mOfertas2.webp");
        width: 100%;
        height: 2700px;
        background-position: center;
        color: white;
        background-size: cover;
    }
}

/*media query acerca de nosotros*/

@media screen and (max-width:700px){
    .bodyAcercaDe{
        background-image: url("../img/fAcercaDeNosotros.jpeg");
        width: 100%;
        height: 500px;
        background-position: center;
        color: white;
        background-repeat: no-repeat;
        background-size: 2500px;
    }
}