/*---Paleta de colores---*/
$color-principal: black;
$color-secundario: orange;

/*lista*/

$font-size:
12px,
16px,
20px,
30px;

/*EXTENDS*/

/* %=placeholder*/


/*condicionales*/
/*operadores de comparacion*/
// = (asignacion)
// == ( que es igual)
// !=es diferente
// > mayor que 
// < menor que
// >= mayor o igual
// <= menor o igual

/*
    if(condicional{
        se ejecuta esto
    }else{
        se ejecuta esto otro
    }
*/


// bucles