/*---Paleta de colores---*/
$colorUno: black;
$colorDos: goldenrod;
$colorTres: orange;

/*lista*/

$font-size:
12px,
16px,
20px,
30px;

//*mapas

$boton:(
    bg-boton: black,
    color-text: white,
);

.boton{
    background-color: map-get($boton, bg-boton);
    color: map-get($boton, color-text )
} 


/*EXTENDS*/
/* %=placeholder*/

%flex{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/*mixin*/

@mixin flex ($flex, $justify, $wrap){
    display: $flex;
    justify-content: $justify;
    flex-wrap: $wrap;
}


